<ion-content>
  <ion-back-button defaultHref="/tabs/tab2" text=" "></ion-back-button>
  <div id='map' style='width: 400px; height: 300px;'></div>
<script>
  mapboxgl.accessToken = 'pk.eyJ1Ijoid2FsdGVybXVyYW5vIiwiYSI6ImNrcDQ0bzFtNjA4bjIyd3MxcXQ4b24xYmEifQ.TcRxsSksVNvNXB9uNGmXfQ';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11'
  });
</script>

</ion-content>